@model IEnumerable<ChatMessage>

@{
    var currentUser = User.FindFirst(ClaimTypes.Name)!.Value;
}

@foreach (var item in Model)
{
    @if (item.User!.UserName == currentUser)
    {
        <div class="d-flex justify-content-end text-end mb-1">
            <div class="w-100">
                <div class="d-flex flex-column align-items-end">
                    <div class="bg-primary text-white p-2 px-3 rounded-2">@item.Content</div>
                    <div class="small my-2">@item.Created.ToString("HH:mm tt")</div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex mb-1">
            <div class="flex-grow-1">
                <div class="w-100">
                    <div class="d-flex flex-column align-items-start">
                        <div class="bg-light text-secondary p-2 px-3 rounded-2">@item.Content</div>
                        <div class="small my-2">@item.User!.FullName - @item.Created.ToString("HH:mm tt")</div>
                    </div>
                </div>
            </div>
        </div>
    }
}