@model IEnumerable<Event>

<div class="card h-100">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h1 class="h4 card-title">Events</h1>
        <!-- Button modal -->
        <a class="btn btn-complementary-soft" href="#" data-bs-toggle="modal" data-bs-target="#saveEventModal">
            <i class="fa-solid fa-plus pe-1"></i> Add Event
        </a>
    </div>
    <div class="card-body">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Open to</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">@item.Name</td>
                            <td>@item.Location</td>
                            @if (item.IsPublic)
                            {
                                <td>Public</td>
                            }
                            else
                            {
                                <td>Supporters</td>
                            }
                            <td>@item.Start.ToString("MM/dd/yyyy HH:mm tt")</td>
                            <td>@item.End.ToString("MM/dd/yyyy HH:mm tt")</td>
                            <td>
                                <div class="dropdown">
                                    <!-- Card share action menu -->
                                    <button class="icon-sm btn btn-primary-soft btn-block w-100" type="button" id="profileAction2" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <!-- Card share action dropdown menu -->
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Events" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="bi bi-info-circle-fill fa-fw pe-2"></i>
                                                Details
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-pencil-square fa-fw pe-2"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-trash fa-fw pe-2"></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>