@model PaginatedList<Project>

@{
    ViewData["Title"] = "Projects";
}

<partial name="_NavBar" />

<main role="main">
    <div class="container">
        <div class="card card-body mb-3">
            <div class="row" id="search">
                <form asp-controller="Projects" asp-action="Index" method="GET" id="search-form">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="SearchString" value="@ViewData["CurrentFilter"]">
                    </div>      

                    <div id="sort-filter" class="row mb-3">
                        <div class="form-group col-6">
                            <div>
                                <select class="form-select" name="Cause" id="">
                                    <option selected>Filter by cause</option>
                                    <option value="arts-and-culture">Arts and culture</option>
                                    <option value="environment">Environment</option>
                                    <option value="health">Health</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div>
                                <select class="form-select" name="sortOrder" id="">
                                    <option selected>Sort by...</option>
                                    <option value="@ViewData["NameSortParm"]">Name</option>
                                    <option value="@ViewData["DateSortParm"]">Date</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary-soft btn-block w-100" type="submit">
                        <i class="bi bi-search"></i> Search
                    </button>
                </form>
            </div>
        </div>

        <div class="row g-4 mb-3">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    @await Html.PartialAsync("Projects/_ProjectCard", item)
                </div>
            }
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row g-4 mb-3">
            <div class="col">
                <div class="d-flex align-items-center justify-content-between">
                    <a asp-action="Index"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-pageNumber="@(Model.PageIndex - 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                        class="btn btn-primary @prevDisabled">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a asp-action="Index"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-pageNumber="@(Model.PageIndex + 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                        class="btn btn-primary @nextDisabled">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<partial name="_Footer" />