@model Post
<div class="card">
	<!-- Card header START -->
	<div class="card-header border-0 pb-0">
		<div class="d-flex align-items-center justify-content-between">
			<div class="d-flex align-items-center">
				<!-- Avatar -->
				<div class="avatar me-2">
					<a href="#"> <img class="avatar-img rounded-circle" src="~/media/members/@(Model.Author!.ProfileImage)" alt=""> </a>
				</div>
				<!-- Title -->
				<div>
					<h6 class="card-title mb-0"> <a href="#!"> @Model.Subject </a></h6>
					<p class="mb-0 small">@Model.Author.FullName on @Model.Created.ToString("MMM dd, yyyy")</p>
				</div>
			</div>
			<!-- Card share action menu -->
			<a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardShareAction5" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-three-dots"></i>
			</a>
			<!-- Card share action dropdown menu -->
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction5">
				<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
				<li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
				<li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
				<li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
			</ul>
		</div>
			<!-- Card share action END -->
	</div>
	<!-- Card header START -->

	<!-- Card body START -->
	<div class="card-body pb-0">
		@if (Model.Body.Length > 300)
		{
			<section class="py-0 mb-2">
				@Html.Raw(HttpUtility.HtmlDecode(Model.Body.Substring(0, 300))) ...
			</section>
		}
		else
		{
			<section class="py-0 mb-2">
				@Html.Raw(HttpUtility.HtmlDecode(Model.Body))
			</section>
		}
		
		<!-- Feed react START -->
		<ul class="nav nav-stack pb-2 small">
			<li class="nav-item">
				<a class="nav-link active text-secondary" href="#!">
					<i class="fa-solid fa-quote-left text-primary"></i> 
					@Model.Topic!.Name 
				</a>
			</li>
			<li class="nav-item ms-sm-auto">
				<a class="nav-link" asp-controller="Posts" asp-action="Details" asp-route-slug="@Model.Slug"> 
					<i class="fa-solid fa-person-walking-arrow-right text-primary"></i> Continue
				</a>
			</li>
		</ul>
		<!-- Feed react END -->
	</div>
	<!-- Card body END -->
	<!-- Card Footer START -->
	<div class="card-footer py-2">
		<!-- Feed react START -->
		<ul class="nav nav-fill nav-stack small">
			<li class="nav-item">
				<a class="nav-link mb-0 active text-complementary" href="#!"> <i class="bi bi-heart pe-1"></i>Likes (@Model.Likes.Count())</a>
			</li>
			<!-- Card share action dropdown START -->
			<li class="nav-item dropdown">
				<a href="#" class="nav-link mb-0" id="cardShareAction6" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
				</a>
				<!-- Card share action dropdown menu -->
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction6">
					<li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
					<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
					<li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
					<li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
				</ul>
			</li>
			<!-- Card share action dropdown END -->
			<li class="nav-item">
				<a class="nav-link mb-0" href="#!"> 
					<i class="fa-solid fa-comments pe-1"></i>Replies (@Model.Replies.Count())
				</a>
			</li>
		</ul>
		<!-- Feed react END -->
	</div>
	<!-- Card Footer END -->
</div>